<h1>@artist.name</h1>
<p><%= @artist.song_count %> <%= "song".pluralize(@artist.song_count) %></p>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
  <% end %>
</ul>
